Repository livewire/livewire, pull requests merged in 2023-07, with the labels that each got.

#5859 [V3] Reenable failing test as it covers a navigate bug
  legacy_tests/Browser/Redirects/Test.php
Labels: Failing Test

#5903 [v3] Add beta warning to quickstart
  docs/quickstart.md
Labels: Review

#5787 [v3] Add failing redirect browser test
  src/Features/SupportRedirects/BrowserTest.php
  src/Features/SupportTesting/DuskBrowserMacros.php
Labels: Failing Test

#5776 [v3] Add failing test for morph issue when adding/removing components dynamically
  src/Features/SupportNestingComponents/BrowserTest.php
Labels: Failing Test

#5924 [v3] `#[On]` allow multiple listener attributes
  src/Features/SupportEvents/On.php
  src/Features/SupportEvents/UnitTest.php
Labels: New Feature

#5777 [v3] Add failing test for navigate-once
  dist/livewire.esm.js
  dist/livewire.js
  dist/livewire.min.js
  dist/manifest.json
  src/Features/SupportNavigate/BrowserTest.php
Labels: Failing Test

#5778 [v3] Add failing test for resetting properties on form object
  dist/livewire.esm.js
  dist/livewire.js
  dist/livewire.min.js
  src/Concerns/InteractsWithProperties.php
  src/Features/SupportFormObjects/UnitTest.php
Labels: Failing Test

#5810 [v3] Set pagination style from config
  src/Features/SupportPagination/SupportPagination.php
Labels: New Feature

#5870 [v3] Remove unused code
  src/CoreMixin.php
  src/Drawer/BaseUtils.php
  src/Drawer/CompilerEngineForIgnition.php
  src/Drawer/Utils.php
  src/Exceptions/CannotUseReservedLivewireComponentProperties.php
  src/Exceptions/PublicPropertyTypeNotAllowedException.php
  src/Features/SupportConsoleCommands/Commands/StubParser.php
  src/Features/SupportErrorResponses/SupportErrorResponses.php
  src/OnlyDuringTests.php
Labels: Review

#5874 [v3] Initial implementation loading indicator config + failing test
  dist/livewire.esm.js
  dist/livewire.js
  dist/livewire.min.js
  dist/manifest.json
  js/features/supportNavigate.js
  src/Features/SupportNavigate/BrowserTest.php
  src/Mechanisms/FrontendAssets/FrontendAssets.php
Labels: Review

#5876 [v3] Repeatable `#[Rule]`
  src/Features/SupportValidation/HandlesValidation.php
  src/Features/SupportValidation/Rule.php
  src/Features/SupportValidation/UnitTest.php
Labels: Review

#5881 [V3] Updating the Upgrade Guide: Reinforcing Instructions to the Breeze & JetStream
  docs/upgrading.md
Labels: Review

#5898 [v3] imageSize method on TemporaryUploadedFile to support dimensions validation rule
  src/Features/SupportFileUploads/TemporaryUploadedFile.php
Labels: Bug Fix

#5909 [V3] Add documentation for testing the parameters of dispatched events
  docs/testing.md
Labels: Docs

#5969 [v3] Add 'upload' as reserved keywords to the documentation
  docs/uploads.md
Labels: Docs

#5939 [V3] Document the deprecation of @this.on()
  docs/upgrading.md
Labels: Docs

#6021 [v3] Updated the import for mount example usage in volt.md
  docs/volt.md
Labels: Docs

#6013 [v3] fix typo in events.md docs
  docs/events.md
Labels: Docs

#6003 [v3] Fix clear is not defined (esm)
  js/directives/wire-poll.js
Labels: Bug Fix

#6044 Removed a reference to a parameter that is not used in the example.
  docs/testing.md
Labels: Docs

#5972 [V3] failing test: Conditional markers containing @ with property-based co…
  src/Features/SupportMorphAwareIfStatement/SupportMorphAwareIfStatement.php
  src/Features/SupportMorphAwareIfStatement/UnitTest.php
Labels: Failing Test

#5961 [V3] Add failing test for title fluent method not working with layout attribute
  src/Features/SupportPageComponents/SupportPageComponents.php
  src/Features/SupportPageComponents/UnitTest.php
Labels: Failing Test

#5950 [V3] Add failing test for testing a component with custom directive
  dist/livewire.esm.js
  dist/livewire.js
  dist/livewire.min.js
  dist/manifest.json
  legacy_tests/Browser/Alpine/Directive/DirectiveComponent.php
  legacy_tests/Browser/Alpine/Directive/Test.php
Labels: Failing Test

#5947 [V3] Add failing test for testing a component without a render method
  src/Features/SupportTesting/Testable.php
  src/Features/SupportTesting/UnitTest.php
  src/LivewireManager.php
  src/Mechanisms/ComponentRegistry.php
  src/Mechanisms/HandleComponents/BrowserTest.php
Labels: Failing Test

#5965 [V3] Various doc fixes
  docs/__outline.md
  docs/actions.md
  docs/components.md
  docs/computed-properties.md
  docs/dirty.md
  docs/events.md
  docs/forms.md
  docs/hydration.md
  docs/installation.md
  docs/javascript.md
  docs/lazy.md
  docs/locked.md
  docs/navigate.md
  docs/nesting.md
  docs/offline.md
  docs/pagination.md
  docs/polling.md
  docs/properties.md
  docs/quickstart.md
  docs/redirecting.md
  docs/testing.md
  docs/understanding-nesting.md
  docs/upgrading.md
Labels: Changes Requested, Docs

#5896 [v2] imageSize method on TemporaryUploadedFile to support dimensions validation rule
  src/TemporaryUploadedFile.php
Labels: Bug Fix

#6022 [v3] Add failing morphdom test for actions in conditional
  dist/livewire.esm.js
  dist/livewire.js
  dist/livewire.min.js
  dist/manifest.json
  js/directives.js
  js/directives/wire-wildcard.js
  js/lifecycle.js
  src/Features/SupportMorphAwareIfStatement/BrowserTest.php
Labels: Failing Test
