Repository livewire/livewire, pull requests merged in 2023-11, with the labels that each got.

#7180 Fix bug with legacy model binding where uninitialised attributes couldn't be bound to
  src/Features/SupportLegacyModels/EloquentModelSynth.php
  src/Features/SupportLegacyModels/Tests/DataBindingModelsBrowserTest.php
  src/Features/SupportLegacyModels/Tests/PublicPropertyHydrationAndDehydrationUnitTest.php
Labels: Bug Fix

#7266 Isolate form object validation from root livewire component
  src/Component.php
  src/ComponentHookRegistry.php
  src/Exceptions/MissingRulesException.php
  src/Features/SupportAttributes/Attribute.php
  src/Features/SupportAttributes/AttributeCollection.php
  src/Features/SupportFormObjects/Form.php
  src/Features/SupportFormObjects/FormObjectSynth.php
  src/Features/SupportFormObjects/HandlesFormObjects.php
  src/Features/SupportFormObjects/SupportFormObjects.php
  src/Features/SupportFormObjects/UnitTest.php
  src/Features/SupportValidation/BaseValidate.php
  src/Features/SupportValidation/HandlesValidation.php
  src/Features/SupportWireModelingNestedComponents/BrowserTest.php
Labels: New Feature

#7271 Update redirecting.md
  docs/redirecting.md
Labels: Docs

#7346 Fix typo on alpine.md
  docs/alpine.md
Labels: Docs

#7345 Replace set method before call method save
  docs/validation.md
Labels: Docs

#7338 Fix typo on alpine.md
  docs/alpine.md
Labels: Docs

#7340 Fix typo in wire-model.md
  docs/wire-model.md
Labels: Docs

#7327 Data store has() with non-existent array key
  src/Mechanisms/DataStore.php
Labels: Bug Fix

#7277 Add separate CannotUpdateLockedPropertyException
  src/Features/SupportLockedProperties/BaseLocked.php
  src/Features/SupportLockedProperties/CannotUpdateLockedPropertyException.php
  src/Features/SupportLockedProperties/UnitTest.php
Labels: New Feature

#7391 Indent security.md example
  docs/security.md
Labels: Docs

#7390 Fetch post before authorization in Security docs example
  docs/security.md
Labels: Docs

#7317 Fix typo on alpine page
  docs/alpine.md
Labels: Docs

#7265 Fix error forwarding / sharing
  src/Features/SupportValidation/HandlesValidation.php
  src/Features/SupportValidation/UnitTest.php
Labels: Bug Fix

#7365 @assets directive does not load before @script when assets are remote
  dist/livewire.esm.js
  dist/livewire.js
  dist/livewire.min.js
  dist/manifest.json
  js/events.js
  js/features/supportScriptsAndAssets.js
  js/request.js
  src/Features/SupportAutoInjectedAssets/SupportAutoInjectedAssets.php
  src/Features/SupportAutoInjectedAssets/UnitTest.php
  src/Features/SupportScriptsAndAssets/BrowserTest.php
  src/Features/SupportScriptsAndAssets/SupportScriptsAndAssets.php
  src/Mechanisms/HandleRequests/HandleRequests.php
Labels: Failing Test

#7406 Add the ability to unregister a global Livewire listener
  dist/livewire.esm.js
  dist/livewire.js
  dist/livewire.min.js
  dist/manifest.json
  docs/javascript.md
  js/features/supportEvents.js
  src/Features/SupportEvents/BrowserTest.php
Labels: New Feature

#7407 Fix typo on security.md
  docs/security.md
Labels: Docs
