Repository livewire/livewire, pull requests merged in 2023-10, with the labels that each got.

#6848 Docs: explain how to generate class-based volt component
  docs/volt.md
Labels: Docs

#6799 Added query string hook documentation
  docs/url.md
Labels: Docs

#6631 Add better reference documentation
  docs/__nav.md
  docs/actions.md
  docs/attributes.md
  docs/forms.md
  docs/uploads.md
  docs/wire-click.md
  docs/wire-dirty.md
  docs/wire-ignore.md
  docs/wire-init.md
  docs/wire-loading.md
  docs/wire-model.md
  docs/wire-navigate.md
  docs/wire-offline.md
  docs/wire-poll.md
  docs/wire-stream.md
  docs/wire-submit.md
  docs/wire-transition.md
  js/directives/wire-model.js
  js/directives/wire-stream.js
  src/Features/SupportStreaming/HandlesStreaming.php
Labels: Docs

#6970 Fix typo in `wire-model.md`
  docs/wire-model.md
Labels: Docs

#6971 Fix typo in `wire-ignore.md`
  docs/wire-ignore.md
Labels: Docs

#6972 Fix markdown in `wire-transition.md`
  docs/wire-transition.md
Labels: Docs

#6977 Fix typo in `wire-model.md`
  docs/wire-model.md
Labels: Docs

#6976 Fix typo
  docs/wire-stream.md
Labels: Docs

#6528 Add failing test for nested entangled items duplicating requests
  src/Features/SupportEntangle/BrowserTest.php
Labels: Failing Test

#6696 Fix wire transition elements hidden on page load
  dist/livewire.esm.js
  dist/livewire.js
  dist/livewire.min.js
  dist/manifest.json
  js/directives/wire-transition.js
  src/Features/SupportTransitions/BrowserTest.php
Labels: Bug Fix, Ready to Merge

#6741 Fix requested Content-Disposition header
  src/Features/SupportFileUploads/TemporaryUploadedFile.php
Labels: Bug Fix

#6736 Fix pagination getPage after reload always equals 1 even if /page=x
  src/Features/SupportPagination/HandlesPagination.php
  src/Features/SupportPagination/UnitTest.php
Labels: Bug Fix

#6981 Fix documentation about attributes method
  docs/validation.md
Labels: Docs

#6982 Fix typos
  docs/wire-model.md
  docs/wire-transition.md
Labels: Docs

#6974 Use Internet Explorer conditional comment syntax to preserve morph markers on Cloudflare-proxied sites
  dist/livewire.esm.js
  dist/livewire.js
  dist/livewire.min.js
  dist/manifest.json
  docs/morph.md
  src/Features/SupportMorphAwareIfStatement/SupportMorphAwareIfStatement.php
  src/Features/SupportMorphAwareIfStatement/UnitTest.php
Labels: Changes Requested, New Feature

#7002 Fix missing semicolon inside `messages()` method in `validation.md`
  docs/validation.md
Labels: Docs

#6660 Support multiple middleware on File Upload route
  src/Features/SupportFileUploads/FileUploadController.php
  src/Features/SupportFileUploads/UnitTest.php
Labels: New Feature

#6756 Fix `$persist` not working anymore with `@entangle`
  dist/livewire.esm.js
  dist/livewire.js
  dist/livewire.min.js
  dist/manifest.json
  js/features/supportEntangle.js
  src/Features/SupportEntangle/BrowserTest.php
Labels: Bug Fix, Ready to Merge

#7060 Fixes regression on locked properties in forms introduced by v3.0.6
  src/Features/SupportAttributes/SupportAttributes.php
  src/Features/SupportLockedProperties/UnitTest.php
Labels: Bug Fix

#7058 Update variable to match `assertViewHas` documentation example
  docs/testing.md
Labels: Docs

#7056 Explain case sensitiveness
  docs/wire-confirm.md
Labels: Docs

#7015 Fix comma characters in query strings
  dist/livewire.esm.js
  dist/livewire.js
  dist/livewire.min.js
  dist/manifest.json
  js/plugins/history/index.js
  src/Features/SupportQueryString/BrowserTest.php
Labels: Bug Fix
