Repository livewire/livewire, pull requests merged in 2024-09, with the labels that each got.

#8831 Add description for dispatching dynamic events
  docs/events.md
Labels: Docs

#8833 Fix dusk tests
  legacy_tests/Browser/SupportsSafari.php
Labels: Bug Fix

#8834 Correction getUpdateUri method parameter prompt
  src/Livewire.php
Labels: Chore

#8632 Add Package Development page to docs
  docs/__nav.md
  docs/package-development.md
Labels: Docs
