Repository livewire/livewire, pull requests merged in 2024-02, with the labels that each got.

#7843 Undefined errors (and duplicate html elements) in x-for when data is provided by Livewire event
  dist/livewire.esm.js
  dist/livewire.js
  dist/livewire.min.js
  dist/manifest.json
  js/features/supportMorphDom.js
  src/Features/SupportEvents/BrowserTest.php
Labels: Failing Test

#7837 session flash data is missing when using redirect with nested component and Modelable
  src/Features/SupportRedirects/BrowserTest.php
  src/Features/SupportRedirects/SupportRedirects.php
  src/Mechanisms/HandleRequests/HandleRequests.php
Labels: Bug Fix

#7847 Contribution guide
  docs/contribution-guide.md
Labels: Docs

#7845 Undefined errors (and duplicate html elements) in x-for when using wire:navigate
  dist/livewire.esm.js
  dist/livewire.js
  dist/livewire.min.js
  dist/manifest.json
  js/plugins/navigate/index.js
  js/plugins/navigate/persist.js
  js/plugins/navigate/teleport.js
  src/Features/SupportNavigate/BrowserTest.php
Labels: Failing Test

#7850 Alpine property undefined when reordering array returned to view
  dist/livewire.esm.js
  dist/livewire.js
  dist/livewire.min.js
  dist/manifest.json
  src/Tests/AlpineMorphingBrowserTest.php
Labels: Failing Test

#7926 Update alpine.md
  docs/alpine.md
Labels: Docs

#7929 Add `wire:stream` and Laravel Octane warning
  docs/wire-stream.md
Labels: Docs

#7928 Add support for minified assets
  dist/livewire.min.js
  dist/livewire.min.js.map
  dist/manifest.json
  scripts/build.js
  src/Features/SupportAutoInjectedAssets/UnitTest.php
  src/Mechanisms/FrontendAssets/FrontendAssets.php
  src/Mechanisms/FrontendAssets/UnitTest.php
  src/Tests/LivewireRouteCachingUnitTest.php
Labels: New Feature

#7923 Update reserved names in `MakeCommand`
  src/Features/SupportConsoleCommands/Commands/MakeCommand.php
Labels: Bug Fix

#7889 Allow download of preview files directly from storage
  src/Drawer/Utils.php
  src/Features/SupportFileUploads/FilePreviewController.php
  src/Features/SupportFileUploads/FileUploadConfiguration.php
  src/Features/SupportFileUploads/UnitTest.php
Labels: New Feature

#7910 Fix query string updates for multiple components of same type with dynamics query string
  dist/livewire.esm.js
  dist/livewire.js
  dist/livewire.min.js
  dist/livewire.min.js.map
  dist/manifest.json
  js/features/supportQueryString.js
  src/Features/SupportQueryString/BrowserTest.php
Labels: Failing Test

#7935 Fix form errors not triggering specific rule assertion
  src/Features/SupportFormObjects/Form.php
  src/Features/SupportFormObjects/UnitTest.php
Labels: Bug Fix

#7881 Removing and re-adding a livewire component causes that livewire component to not work anymore
  dist/livewire.esm.js
  dist/livewire.js
  dist/livewire.min.js
  dist/livewire.min.js.map
  dist/manifest.json
  js/component.js
  src/Features/SupportNestingComponents/BrowserTest.php
Labels: Failing Test

#7880 Intersect Alpine plugin does not work when livewire component is updated
  dist/livewire.esm.js
  dist/livewire.js
  dist/livewire.min.js
  dist/livewire.min.js.map
  dist/manifest.json
  src/Tests/AlpineIntersectBrowserTest.php
Labels: Failing Test

#7949 fix typo
  docs/uploads.md
Labels: Docs

#7921 Flash data is being removed on initial render/dehydrate instead of subsequent renders
  src/Features/SupportRedirects/BrowserTest.php
  src/Features/SupportRedirects/SupportRedirects.php
  src/Features/SupportRedirects/UnitTest.php
  src/Mechanisms/HandleComponents/ComponentContext.php
Labels: Bug Fix

#7990 Fix anchor link for reactive props warning
  docs/components.md
Labels: Docs

#8002 Add trigger async to global Livewire object
  dist/livewire.esm.js
  dist/livewire.js
  dist/livewire.min.js
  dist/livewire.min.js.map
  dist/manifest.json
  js/index.js
Labels: New Feature

#8015 Fire alpine:navigated after url update
  dist/livewire.esm.js
  dist/livewire.js
  dist/livewire.min.js
  dist/livewire.min.js.map
  dist/manifest.json
  js/plugins/navigate/index.js
Labels: Bug Fix

#8016 Add assertRedirectToRoute test function
  src/Features/SupportRedirects/TestsRedirects.php
  src/Features/SupportTesting/Tests/TestableLivewireCanAssertRedirectToRouteUnitTest.php
Labels: New Feature

#7973 Add asset publishing
  docs/installation.md
  src/Features/SupportConsoleCommands/Commands/PublishCommand.php
  src/Mechanisms/FrontendAssets/FrontendAssets.php
Labels: New Feature
