Repository livewire/livewire, pull requests merged in 2024-04, with the labels that each got.

#8232 Fix Laravel 11 tests
  composer.json
  legacy_tests/Browser/SupportsSafari.php
  src/Features/SupportTesting/DuskBrowserMacros.php
Labels: Bug Fix

#8204 Improved the progress bar animation . fix for discussion #8041
  dist/livewire.esm.js
  dist/livewire.js
  dist/livewire.min.js
  dist/livewire.min.js.map
  dist/manifest.json
  js/plugins/navigate/bar.js
  js/plugins/navigate/history.js
  js/plugins/navigate/index.js
Labels: Bug Fix

#8241 Add browser test Can submit form using magic actions without breaking form
  dist/livewire.esm.js
  dist/livewire.js
  dist/livewire.min.js
  dist/livewire.min.js.map
  dist/manifest.json
  js/$wire.js
  js/component.js
  js/features/supportDisablingFormsDuringRequest.js
  js/utils.js
  src/Features/SupportNestingComponents/BrowserTest.php
Labels: Failing Test

#8242 Add browser test Can listening multiple event using `@` directive attribute from child component
  src/Features/SupportNestedComponentListeners/SupportNestedComponentListeners.php
  src/Features/SupportNestingComponents/BrowserTest.php
Labels: Failing Test

#8348 Clarify docs for validation utilities
  docs/validation.md
Labels: Docs

#8355 fix: use published stubs
  src/Features/SupportConsoleCommands/Commands/AttributeCommand.php
  src/Features/SupportConsoleCommands/Commands/FormCommand.php
Labels: Bug Fix

#8352 Prevent multiple 100% progress events by flooring the result
  js/features/supportFileUploads.js
Labels: Bug Fix

#8356 Added validate to updating a post example
  docs/forms.md
Labels: Docs
