Repository livewire/livewire, pull requests merged in 2024-12, with the labels that each got.

#9055 Fix navigated typo
  docs/navigate.md
Labels: Docs

#8801 Failing Test: Incorrect mime types guessing
  src/Features/SupportFileUploads/TemporaryUploadedFile.php
  src/Features/SupportFileUploads/UnitTest.php
  src/Features/SupportTesting/Testable.php
Labels: Failing Test

#8437 Fix - Handle encoded query string array keys
  dist/livewire.esm.js
  dist/livewire.esm.js.map
  dist/livewire.js
  dist/livewire.min.js
  dist/livewire.min.js.map
  dist/manifest.json
  js/plugins/history/index.js
  src/Features/SupportQueryString/BrowserTest.php
Labels: Bug Fix

#8651 Add `$wire.$hook()`
  dist/livewire.esm.js
  dist/livewire.esm.js.map
  dist/livewire.js
  dist/livewire.min.js
  dist/livewire.min.js.map
  dist/manifest.json
  docs/javascript.md
  js/$wire.js
  src/Tests/JavascriptHooksBrowserTest.php
Labels: New Feature

#8653 Fix noscript tag in head when using navigate
  dist/livewire.esm.js
  dist/livewire.esm.js.map
  dist/livewire.js
  dist/livewire.min.js
  dist/livewire.min.js.map
  dist/manifest.json
  js/plugins/navigate/page.js
  src/Features/SupportNavigate/BrowserTest.php
  src/Features/SupportNavigate/test-views/layout-with-noscript.blade.php
Labels: Failing Test
